<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>869196313651-0m6s0p9tjimeaum90297vv7ltgctkmg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869196313651-0m6s0p9tjimeaum90297vv7ltgctkmg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBdC5O8G_SE7Y4q6x8ATlpf2hNUoMgTmgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>869196313651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walli-app.Walli</string>
	<key>PROJECT_ID</key>
	<string>walli-ae69c</string>
	<key>STORAGE_BUCKET</key>
	<string>walli-ae69c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:869196313651:ios:4a3197dfe0fbf702</string>
	<key>DATABASE_URL</key>
	<string>https://walli-ae69c.firebaseio.com</string>
</dict>
</plist>
